<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>4e5e928dd126ab755209ff36023838b6</string>
	<key>KAKAO_SEARCH_API_KEY</key>
	<string>KakaoAK 734d4abe48b319cccdf4788804c6e7c4</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>944681471374-1il0tg7psr9ai539gc7tfjaqc7cpnaer.apps.googleusercontent.com</string>
	<key>KAKAO_SEARCH_API_KEY</key>
	<string>nil</string>
</dict>
</plist>
